*{
margin: 0;
padding: 0;
}
cabecalho{
    paddin:15px 15px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: blue;
}

.cartao{
    width: 260px;
    height: 200px;
}
.cartao-imagem{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aqua;
}
main{
    flex: 1;
}
.cabecalho-link{
    color: black;
    text-decoration: none;
}
h1{
    color: black;
    font: 18px;
}
.footer{
    background-color: blueviolet;
    padding:15px 15px;
     color: aliceblue;
}